
<div class="row grid gap-3 justify-content-center mx-2 mx-sm-0">
  <mat-card matRipple class=" col-sm-3 " *ngFor="let author of data">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{author | titlecase}}</mat-card-title>
      <mat-card-subtitle>Poeta</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-actions class="grid">
      <button 
        mat-raised-button 
        color="primary"
        (click)="openDialog(author)"
        type="button"
      >Ver más</button>
    </mat-card-actions>
  </mat-card>
</div>
