
  <!-- Tool Bar-->
  <mat-toolbar color="primary" class="width-max">
    <mat-toolbar-row>
      <span>Poemás Destacados</span>
      <span class="example-spacer"></span>
      
      <button 
        mat-icon-button 
        class="example-icon" 
        (click)="change()"
        (click)="button.toggle()" 
        matTooltip="Cerrar Menú"
        matTooltipPosition="right"
        aria-label="Icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
    
  </mat-toolbar>
  <mat-nav-list>
    <a mat-list-item routerLink="autores" *ngFor="let poema of data" class="py-3 my-2">
      <strong>{{poema.title}}</strong>
      <br>
      {{poema.author}}
      <mat-divider></mat-divider>
    </a>
  </mat-nav-list>
  
