.tw-100{
  width: 70vw;
}

.enlace {
  &:hover {
    font-weight: bolder;
    cursor: pointer;
  }

  &:active {
    transform: scale(0.95);
    opacity: 0.8;
  }

  &.selecc{
    font-weight: bolder;
  }
}

