<h2 mat-dialog-title>Poeta {{data.name}}</h2>
<mat-dialog-content class="mat-typography">
  <mat-card class="tw-100">
    <mat-card-content class="container">
      <div class="row">
        <div class="col col-md-5 border-end">
          <mat-card-subtitle>
            <span class="fs-5">
              <i class="bi bi-envelope-open-fill me-2 fs-6 align-middle"></i>
              Poemas
            </span>
          </mat-card-subtitle>
          <ul>
            <li 
              *ngFor="let obra of obras"
              class="enlace"
              [ngClass]="{'selecc':obra.title === obraTitle}"
              (click)="buscarPoema(obra.title)"
            >
              {{obra.title}}
            </li>
          </ul>
        </div>
        <div class="col col-md-7 mx-auto">
          <div *ngIf="loading" class="w-100">
            <mat-spinner class="mx-auto"></mat-spinner>
          </div>
          <div *ngIf="obraTitle && !loading" class="mx-auto">
            <mat-card-subtitle> 
              <span class="fs-5">
                Poema "{{obraTitle | titlecase}}"
              </span>
            </mat-card-subtitle>
            <p *ngFor="let line of poemaContent">
              {{line | json}}
            </p>
          </div>
          <div *ngIf="!obraTitle && !loading" class="d-flex w-100 h-100 align-items-center justify-content-center m-auto">
            <p><i class="bi bi-arrow-left-square fs-7 me-2"></i> Selecciona un Poema </p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>  
</mat-dialog-content>

<mat-dialog-actions align="end" class="border-top">
  <button 
    mat-stroked-button 
    color="primary"
    [disabled]="!obraTitle"
    [mat-dialog-close]="data" 
    >Agregar a Favoritos
  </button>
  <button 
    mat-raised-button
    mat-dialog-close
    (click)="onNoClick()"
  >Cerrar</button>
</mat-dialog-actions>
