<button mat-fab (click)="volver()"
  color="primary" aria-label="Boton Volver"
  class="float-start"
  matTooltip="Volver a Lista Autores"
  matTooltipPosition="below"
>
  <mat-icon>home</mat-icon>
</button>

<div class="row grid gap-3 justify-content-center mx-2 mx-sm-0">
  <h1 class="text-center mt-5">
    <i class="bi bi-envelope-open-heart-fill text-danger"></i>
    POEMAS FAVORITOS
    <i class="bi bi-pen"></i>
  </h1>
  <mat-card class=" col-sm-3 " *ngFor="let poema of poemasFavoritos">
    <mat-card-header>
      <mat-card-title>{{poema.name | titlecase}}</mat-card-title>
      <mat-card-subtitle>Poema</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class=" p-0 ">
      <div class="card card-body height overflow-y-scroll">
        <p *ngFor="let line of poema.lines">
          {{line | json}}
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions class="grid">
      <button
        mat-raised-button 
        color="warn"
        type="button"
        (click)="removeFavorito(poema.name)"
      >
        <span class="icon text-white">
          <i class="bi bi-trash3-fill"></i>
        </span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
