<div class="d-flex justify-content-center align-items-center h-100">
  <mat-card class="row w-25 p-5 box bg-body-tertiary">
    <h1 class="">Login Form</h1>
    <form class="example-form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <mat-form-field class="w-100">
          <mat-label>User</mat-label>
          <input type="text" matInput formControlName="user" placeholder="admin">
          <mat-error *ngIf="myForm.hasError('user') && !myForm.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="myForm.get('user')?.hasError('required')">
            User is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="w-100">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" placeholder="*********">
          <mat-error *ngIf="myForm.get('password')?.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="py-3 button">
        <button 
          mat-raised-button
          matRipple
          color="primary"
          type="submit"
          [disabled]="myForm.get('user')?.hasError('required') || myForm.get('password')?.hasError('required')"
        >Ingresar</button>
        <button 
          mat-raised-button 
          matRipple 
          color="warn"
          type="button"
          (click)="borrar()"
        >Borrar</button>
      </div>
    </form>
  </mat-card>
</div>